@(title: String)

<title>Fakebaseball - @title</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="@routes.Assets.at("ext/bootstrap.min.css")">
<script src="@routes.Assets.at("ext/jquery-3.3.1.slim.min.js")"></script>
<script src="@routes.Assets.at("ext/popper.min.js")"></script>
<script src="@routes.Assets.at("ext/bootstrap.min.js")"></script>
<script src="@routes.Assets.at("scripts/clickcopy.js")" defer></script>
<script src="@routes.Assets.at("scripts/imgfallback.js")" defer></script>
