@import model.db._

@(game: Game, lineup: Seq[LineupEntry], allPlays: Seq[GameAction], scoringPlays: Seq[ScoringPlay])

<div id="lineups">
    <div class="table-responsive-sm">
        <table class="table table-sm table-striped table-hover">
            <thead>
                <tr>
                    <th>Pitcher</th>
                    <th>IP</th>
                    <th>ER</th>
                    <th>H</th>
                    <th>BB</th>
                    <th>K</th>
                    <th>ERA</th>
                </tr>
            </thead>
            <tbody>
                @for(pitcherEntry <- lineup.filter(_.battingPos == 0).sortBy(_.id)) {
                    <tr>
                        <td>
                        @if(pitcherEntry.replacedById.isDefined) {
                            <del><a class="text-secondary" href="@routes.PlayerController.showPlayer(pitcherEntry.player.id.get)">@pitcherEntry.player.fullName</a></del>
                        } else {
                            <a class="text-secondary" href="@routes.PlayerController.showPlayer(pitcherEntry.player.id.get)">@pitcherEntry.player.fullName</a>
                        }
                        </td>
                        <td>@{"%.1f".format(allPlays.filter(p => p.pitcherId == pitcherEntry.player.id.get).foldLeft(0)(_ + _.outsTracked) / 3.0).replace(".3", ".1").replace(".7", ".2")}</td>
                        <td>@{scoringPlays.count(_.scorer1ResponsibilityId.contains(pitcherEntry.player.id.get)) + scoringPlays.count(_.scorer2ResponsibilityId.contains(pitcherEntry.player.id.get)) + scoringPlays.count(_.scorer3ResponsibilityId.contains(pitcherEntry.player.id.get)) + scoringPlays.count(_.scorer4ResponsibilityId.contains(pitcherEntry.player.id.get))}</td>
                        <td>@allPlays.count(p => p.pitcherId == pitcherEntry.player.id.get && (p.result == "HR" || p.result == "3B" || p.result == "2B" || p.result == "1B" || p.result == "Bunt 1B"))</td>
                        <td>@allPlays.count(p => p.pitcherId == pitcherEntry.player.id.get && (p.result == "BB" || p.result == "Auto BB"))</td>
                        <td>@allPlays.count(p => p.pitcherId == pitcherEntry.player.id.get && (p.result == "K" || p.result == "Auto K" || p.result == "Bunt K"))</td>
                        <td>@{"%.2f".format(pitcherEntry.player.pitchingStats.find(_.season == game.season).map(_.era).getOrElse(0f)).replace("Infinity", "Inf.")}</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="table-responsive-sm">
        <table class="table table-sm table-striped table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Player</th>
                    <th>Pos</th>
                    <th>AB</th>
                    <th>R</th>
                    <th>H</th>
                    <th>RBI</th>
                    <th>BB</th>
                    <th>K</th>
                    <th>BA</th>
                </tr>
            </thead>
            <tbody>
            @for(entry <- lineup.filterNot(_.battingPos == 0).sortBy(e => (e.battingPos, e.id))) {
                <tr>
                    <td>
                    @if(entry.replacedById.isDefined) {
                        <del>@entry.battingPos</del>
                    } else {
                        @entry.battingPos
                    }
                    </td>
                    <td>
                    @if(entry.replacedById.isDefined) {
                        <del><a class="text-secondary" href="@routes.PlayerController.showPlayer(entry.player.id.get)">@entry.player.fullName</a></del>-
                    } else {
                        <a class="text-secondary" href="@routes.PlayerController.showPlayer(entry.player.id.get)">@entry.player.fullName</a>
                    }
                    </td>
                    <td>@entry.position</td>
                    <td>@allPlays.count(p => p.batterId == entry.player.id.get && p.isAB)</td>
                    <td>@scoringPlays.count(sp => (sp.scorer1Id.contains(entry.player.id.get) && sp.scorer1ResponsibilityId.isDefined) || (sp.scorer2Id.contains(entry.player.id.get) && sp.scorer2ResponsibilityId.isDefined) || (sp.scorer3Id.contains(entry.player.id.get) && sp.scorer3ResponsibilityId.isDefined) || (sp.scorer4Id.contains(entry.player.id) && sp.scorer4ResponsibilityId.isDefined))</td>
                    <td>@allPlays.count(p => p.batterId == entry.player.id.get && p.isHit)</td>
                    <td>@allPlays.filter(p => p.batterId == entry.player.id.get && p.outsTracked < 2).foldLeft(0)(_ + _.runsScored)</td>
                    <td>@allPlays.count(p => p.batterId == entry.player.id.get && (p.playType == PlayType.IBB || p.playType == PlayType.AUTO_BB || p.result == "BB"))</td>
                    <td>@allPlays.count(p => p.batterId == entry.player.id.get && (p.result == "K" || p.result == "Auto K" || p.result == "Bunt K"))</td>
                    <td>@{"%.3f".format(entry.player.battingStats.find(_.season == game.season).map(_.ba).getOrElse(0f))}</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

