@import model.db._
@(game: Game)

<span>
    @Html(game.state.r3Id.map(_ => "&#x25C6;").getOrElse("&#x25C7;"))
    @Html(game.state.r2Id.map(_ => "<sup>&#x25C6;</sup>").getOrElse("<sup>&#x25C7;</sup>"))
    @Html(game.state.r1Id.map(_ => "&#x25C6;").getOrElse("&#x25C7;"))
    @game.awayTeam.tag @game.state.scoreAway - @game.state.scoreHome @game.homeTeam.tag
    |
    @{if (game.completed) "FINAL" else s"${game.state.inningStr} ${game.state.outs} Out"}
</span>
